# Ignore everything by default
/*

# Allow folders
!src/
!.github/**
!crates/
!img/
!examples/
!docs/

# Allow root files
!LICENCE
!README.md
!Cargo.toml
!Cargo.lock
!.gitignore

# Ignore le profil de test Microsoft
examples/test_microsoft_profile.json



